html {
  font-size: 16px;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
  outline: none;
}

body,
select,
a {
  padding: 0;
  margin: 0;
  font-family: "Microsoft JhengHei";
}

img {
  max-width: 100%;
  height: auto;
}

ul,
li {
  list-style-type: none;
}

label {
  display: inline-block;
  line-height: 2.5;
}

a {
  display: block;
}

.container {
  margin: 0 auto;
  max-width: 960px;
  padding-left: 15px;
  padding-right: 15px;
}

@media (max-width: 768px) {
  .container {
    padding-left: 0;
    padding-right: 0;
  }
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -15px;
  margin-right: -15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
  position: relative;
  min-height: 1px;
  max-width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 767px) {
  .col-1 {
    max-width: 8.33333%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.33333%;
            flex: 0 0 8.33333%;
  }
  .col-2 {
    max-width: 16.66667%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.66667%;
            flex: 0 0 16.66667%;
  }
  .col-3 {
    max-width: 25%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
  }
  .col-4 {
    max-width: 33.33333%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
  }
  .col-5 {
    max-width: 41.66667%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.66667%;
            flex: 0 0 41.66667%;
  }
  .col-6 {
    max-width: 50%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
  .col-7 {
    max-width: 58.33333%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
            flex: 0 0 58.33333%;
  }
  .col-8 {
    max-width: 66.66667%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66667%;
            flex: 0 0 66.66667%;
  }
  .col-9 {
    max-width: 75%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
  }
  .col-10 {
    max-width: 83.33333%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.33333%;
            flex: 0 0 83.33333%;
  }
  .col-11 {
    max-width: 91.66667%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.66667%;
            flex: 0 0 91.66667%;
  }
  .col-12 {
    max-width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

.text-primary {
  color: #00807e;
}

.text-secondary {
  color: #64c3bf;
}

.text-info {
  color: #fafafa;
}

.text-muted {
  color: #818a91;
}

.bg-info {
  background-color: #fafafa;
}

.bg-secondary {
  background-color: #64c3bf;
}

.bg-primary {
  background-color: #00807e;
}

.text-hide {
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
}

.form-group {
  margin-bottom: 1rem;
  font-weight: bold;
}

.form-group label {
  padding-left: 0;
}

.form-group select {
  padding-left: 7px;
  color: #818a91;
}

.form-group ::-webkit-input-placeholder {
  color: #818a91;
}

.form-group textarea {
  height: 110px;
}

.form-control {
  display: inline-block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 550;
  line-height: 1.5;
  border: transparent;
  border-bottom: 1.5px solid #00807e;
  background-color: #fafafa;
}

.form-control:focus {
  background-color: transparent;
  border-color: #00807e;
  -webkit-box-shadow: 0 0 0 5px rgba(21, 156, 228, 0.4);
          box-shadow: 0 0 0 5px rgba(21, 156, 228, 0.4);
}

.form-control--searchArea {
  width: 80%;
  border: 1px solid #ced4da;
  border-bottom: 1px solid none;
  background-color: #fff;
  border-radius: 5px;
  font-weight: 400;
  font-size: 0.8rem;
}

@media (max-width: 768px) {
  .form-control--searchArea {
    width: 100%;
  }
}

.btn {
  display: inline-block;
  font-weight: 400;
  color: #fafafa;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #00807e;
  border: 1px solid transparent;
  padding: 10px 40px;
  font-size: 1.1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  -webkit-transition: color 0.15s;
  transition: color 0.15s;
  margin-right: -15px;
}

@media (max-width: 768px) {
  .btn {
    display: block;
    width: 100%;
  }
}

.btn:hover {
  background-color: #095f5e;
}

.btn:focus {
  background-color: #095f5e;
  border-color: #095f5e;
  -webkit-box-shadow: 0 0 0 5px rgba(21, 156, 228, 0.4);
          box-shadow: 0 0 0 5px rgba(21, 156, 228, 0.4);
}

.card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
  -webkit-box-shadow: 0px 3px 6px #00000029;
          box-shadow: 0px 3px 6px #00000029;
  border-radius: 0.25rem;
  height: 100%;
}

.card-img-animation {
  display: block;
  overflow: hidden;
  cursor: pointer;
}

.card-img-top {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 180px;
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.card-img-top:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.card-title {
  margin-bottom: 0.75rem;
  color: #00807e;
  border-bottom: 2px solid #00807e;
}

.card-body {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  min-height: 1px;
  padding: 0 1rem;
}

.card-body-badgeSmall {
  position: absolute;
  top: -15px;
  left: 0;
  z-index: 1;
  border-radius: 0 3px 3px 0;
  padding: 5px 8px;
  color: #fff;
}

.card-badgeBig {
  position: absolute;
  top: -13px;
  z-index: 1;
  border-radius: 0 3px 3px 0;
  padding: 8px 20px;
  color: #fff;
  font-size: 20px;
}

.card strong {
  font-size: 1.8rem;
}

.card span {
  font-weight: bold;
}

.card-footer {
  padding: .7rem 1rem;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mr-auto {
  margin-right: auto;
}

.ml-auto {
  margin-left: auto;
}

.align-item-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  vertical-align: middle;
}

.justify-content-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.pl-5 {
  padding-left: 5px;
}

.mr-5 {
  margin-right: 4px;
}

.mb-40 {
  margin-bottom: 40px;
}

.text-right {
  text-align: right;
}

.line-height-center {
  line-height: 2.1;
}

.h-100 {
  height: 100%;
}

@media (max-width: 768px) {
  .d-rwd-none {
    display: none;
  }
}

@media (max-width: 768px) {
  .text-rwd-center {
    text-align: center;
  }
}

.addTicket-area {
  -webkit-box-shadow: 0px 3px 6px #00000029;
          box-shadow: 0px 3px 6px #00000029;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 15px;
  padding: 0 75px 60px 75px;
}

@media (max-width: 768px) {
  .addTicket-area {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 0;
  }
}

.addTicket-area__title {
  border-bottom: 1.5px solid #00807e;
  padding: 3px 0;
}

.addTicket-area__title .fas {
  margin-right: 5px;
}

.main-area {
  padding: 2.5rem;
}

@media (max-width: 768px) {
  .main-area {
    padding: 1.2rem;
  }
}

.search-area {
  margin-bottom: 40px;
}

@media (max-width: 768px) {
  .search-area .selectNum {
    margin-top: 10px;
  }
}
/*# sourceMappingURL=all.css.map */