html {
    font-size: 16px;
}

*,
*::before,
*::after {
    // 為了使gutter 可以設置絕對數值
    box-sizing: border-box;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 1 */
    line-height: 1.15; /* 1 */
    margin: 0; /* 2 */
    outline: none;
}

body,
select,
a {
    padding: 0;
    margin: 0;
    font-family: "Microsoft JhengHei";
}

img {
    max-width: 100%;
    height: auto;
}

ul,
li {
    list-style-type: none;
}

label {
    display: inline-block;
    // margin-bottom: .5rem;
    line-height: 2.5;
}

a {
    display: block;
}
